html{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Compass */
.compass {
    position: fixed;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    top: 2vw;
    right: 2vw;
    /* margin: auto; */
    z-index: 2;
    position: relative;
    background-color: white;

}

.arrow {
    position: absolute;
    width: 14vw; /* Adjust the width and height as needed */
    height: 14vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(https://purepng.com/public/uploads/large/upload-icon-in-red-color-gxm.png)
        center no-repeat;
    background-size: contain;
    z-index: 2;
    position: relative;
}

#compassDiv{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 4vw;
}

/* moreoptions */
.moreOptions {
    position: fixed;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    top: 2vh;
    left: 2vh;
    /* margin: auto; */
    z-index: 2;
    
    background-color: white;
}

.threeLines {
    position: absolute;
    width: 8vw; /* Adjust the width and height as needed */
    height: 8vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("./static/images/icons/menu.png")
        center no-repeat;
    background-size: contain;
    z-index: 2;
    position: relative;
    cursor: pointer; /* Add cursor pointer for better UX */
}

#moreOptionsDiv{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 5vw;
    margin-top: 6vw;
}

/* Modal */
#mapsDiv{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 5vw;
    margin-top: 6vw;
}

.maps {
    position: fixed;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    top: 20vh;
    right: 2vh;
    /* margin: auto; */
    z-index: 2;
    
    background-color: white;
}

.mapDot {
    position: absolute;
    width: 8vw; /* Adjust the width and height as needed */
    height: 8vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("./static/images/icons/mapIcon.png")
        center no-repeat;
    background-size: contain;
    z-index: 2;
    position: relative;
    cursor: pointer; /* Add cursor pointer for better UX */
}

.modal-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content img {
    max-width: 100%;
    max-height: 100%;
}



/* More Circles */
.additionalCircles {
    display: none; /* Initially hide the additional circles */
    flex-direction: column; /* Align circles in a column */
    justify-content: space-between; /* Add space between circles */
    margin-top: 1.75vh; /* Adjust margin as needed */
    background-color: white;
}

.circle {
    width: 10vw; /* Adjust the width of each circle as needed */
    height: 10vw; /* Adjust the height of each circle as needed */
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /* Add any additional styles for your circles */
    margin-top: 1.75vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#distanceFromTarget{
    color: yellow;
    font-size: 1.5em;
    margin-top: 1vh;
}

.uiDisplay{
    z-index: 2;
    position: relative;
}

