html{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Compass */
.compass {
    position: fixed;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    top: 2vw;
    right: 2vw;
    /* margin: auto; */
    z-index: 2;
    background-color: white;

}

.arrow {
    position: absolute;
    width: 14vw; /* Adjust the width and height as needed */
    height: 14vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(https://purepng.com/public/uploads/large/upload-icon-in-red-color-gxm.png)
        center no-repeat;
    background-size: contain;
    z-index: 2;
    position: relative;
}

#compassDiv{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 4vw;
}

/* <moreOptions> */
.moreOptions {
    /* Button */
    position: fixed;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    top: 2vh;
    left: 2vh;
    /* margin: auto; */
    z-index: 2;
    background-color: white;
}

.threeLines {
    /* Icon */
    position: absolute;
    width: 10vw; /* Adjust the width and height as needed */
    height: 10vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("./static/images/icons/menu.png")
        center no-repeat;
    background-size: contain;
    z-index: 2;
    position: relative;
    cursor: pointer; /* Add cursor pointer for better UX */
}

#moreOptionsDiv{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10vw;
    margin-top: 10vw;
}
/* </moreOptions> */

/* <mapIcon> */

.maps {
    /* Button */
    position: fixed;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    top: 20vh;
    right: 2vw;
    /* margin: auto; */
    z-index: 2;
    /* position: relative; */
    
    background-color: white;
}

.mapDot {
    /* Icon */
    position: absolute;
    width: 10vw; /* Adjust the width and height as needed */
    height: 10vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("./static/images/icons/mapIcon.png")
        center no-repeat;
    background-size: contain;
    z-index: 2;
    cursor: pointer; /* Add cursor pointer for better UX */
}

#mapsDiv{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 10vw;
    margin-top: 10vw;
}
/* </mapIcon> */

/* <Modal> */
.modal-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content span.close {
    font-size: 50px; /* Adjust the font size as needed */
    position: absolute;
    top: 10vh;
    right: 10vw;
}

.modal-content img {
    max-width: 110%;
    max-height: 110%;
    object-fit: contain;
}



/* More Circles */
.additionalCircles {
    display: none; /* Initially hide the additional circles */
    flex-direction: column; /* Align circles in a column */
    justify-content: space-between; /* Add space between circles */
    margin-top: 1.75vh; /* Adjust margin as needed */
    background-color: transparent;
    box-shadow: none;
}

.circle {
    width: 14vw; /* Adjust the width of each circle as needed */
    height: 14vw; /* Adjust the height of each circle as needed */
    border-radius: 50%;
    background-color: black;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
    /* Add any additional styles for your circles */
    margin-top: 1.25vh;
    margin-bottom: 1.25vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#distanceFromTarget{
    color: yellow;
    font-size: 1.5em;
    margin-top: 15vh;
    /* border: 2px solid yellow;
    padding: 10px;
    display: inline-block; */
}

.uiDisplay{
    z-index: 2;
    position: relative;
}

